# ide / sistema
.idea/
*.iml
.DS_Store
Thumbs.db

# flutter (frontend)
frontend/build/
frontend/.dart_tool/
frontend/.metadata
frontend/.idea/

# android 
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/key.properties

# backend (kotlin / spring)
backend/build/
backend/.gradle/
backend/.idea/
backend/*.iml

# configs locales 
backend/local.properties
backend/http-client.env.json

# secrets spring 
backend/src/main/resources/application.properties
backend/src/main/resources/firebase-service-account.json

# firebase (cliente) - config
frontend/android/app/google-services.json
frontend/lib/config/firebase_options.dart

# google maps (api key)
frontend/android/app/src/main/res/values/google_maps_api.xml

# env
.env
*.env

# archivos comprimidos
*.zip

# infra (docker)
infra/.env
infra/docker_mysql/
infra/secrets/application.properties
infra/secrets/firebase-service-account.json
