# ---------- flutter ----------
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.metadata

# android
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/key.properties

# ---------- backend ----------
backend/build/
backend/.gradle/
backend/.idea/
backend/*.iml

# backend local (no subir)
backend/local.properties
backend/http-client.env.json

# spring secrets (no subir)
backend/src/main/resources/application.properties
backend/src/main/resources/firebase-service-account.json

# ---------- firebase client (no subir config real) ----------
frontend/android/app/google-services.json
frontend/lib/config/firebase_options.dart

# ---------- google maps local ----------
frontend/android/app/src/main/res/values/google_maps_api.xml

# ---------- env ----------
.env
*.env

# ---------- no subir zips ----------
*.zip

# ---------- infra secrets / local ----------
infra/.env
infra/docker_mysql/
infra/secrets/application.properties
infra/secrets/firebase-service-account.json
